.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Line-Divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(232 232 232);
}

.App-body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin:10px;

}

.App-link {
  color: #61dafb;
}
.App-Wave-Icon {
  font-size: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-style {
  background-color: lightgray;
  height: 100px;
  padding: 5px;
  color: gray;

}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
/* unvisited link */
a:link {
  color: none !important;
}

/* visited link */
a:visited {
  color: none !important;
}

/* mouse over link */
a:hover {
  color: none !important;
}

/* selected link */
a:active {
  color: none !important;
}
.card-style{
  cursor: "pointer";
}
.card-style:hover {
  background-color: gray;
  color: white;
  cursor: "pointer";
}
